* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.main_container {
    position: relative;
    display: inline-block;
}

.main_container_header {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.healthBar {
    position: relative;
    width: 100%;
    border: 3px solid whitesmoke;
    border-radius: 15px;
}

.greyHealth {
    background-color: rgb(54, 54, 54);
    height: 30px;
    border-radius: 15px;
}

.currentHealth {
    background: rgb(66, 224, 18);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 12px;
}

.timer {
    border-radius: 30px;
    background-color: black;
    color: whitesmoke;
    height: 70px;
    width: 70px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid whitesmoke;
}

#matchResultText {
    position: absolute;
    color: whitesmoke;
    font-size: xx-large;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}